a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    font-family: 'Lora', serif;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

.banner {
    background-color: green;
    color: #fff;
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
}

.delete_form {
    display: inline;
}

.entry {
    flex-grow: 1;
    width: 20%;
    margin: .5em;
    text-align: center;
    font-size: 1.5em;
    background-color: whitesmoke;
    -webkit-box-shadow: 0 10px 15px 0 #949494;
    box-shadow: 0 10px 15px 0 #949494;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.entry:hover {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -ms-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.entry a {
    display: inline-block;
    width: 100%;
    color: #fe57a1;
    padding-top: .5em;
    padding-bottom: .5em;
}

.form {
    margin: 20px;
    text-align: center;
}

.form input {
    font-size: 1.2em;
}

.form label {
    font-size: 1.5em;
}

.form button {
    background: none;
    border: none;
    position: relative;
    top: 3px;
}

#logo {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 2em;
}

#logo>a {
    color: black;
    border-bottom: 1px dotted #1e1e1e;
}

#notfound {
    text-align: center;
    width: 100%;
}

.word-list {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}